.wrapper {
    background-image:  "url(./images/carmenbackground.jpg)";
    position: relative;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}